@using Web.Models
@model Web.Models.UserModel

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div class="featured">
    <div class="jumbotron">
        <h1>Ensolvers Challenge</h1>
        <p class="lead text-muted">I would like to start saying thank you considering me for the job. I hope you like the design and coding!</p>
    </div>
</div>

@(Html.DevExtreme().Popup()
        .ID("employee-popup")
        .Width(300)
        .Height(350)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Login")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ContentTemplate(new TemplateName("popup-template"))
    )
@(Html.DevExtreme().TreeList<PruebaModel>()
    .ID("tree-list")
    .ShowBorders(true)
    .DataSource(d => d.WebApi()
        .Controller("List")
        .Key("ID")
        .LoadAction(true)
        .InsertAction(true)
        .UpdateAction(true)
        .DeleteAction(true)
        )
    .Selection(s=> s.Mode(SelectionMode.Multiple))
    .KeyExpr("ID")
    .ParentIdExpr("parentID")
    .Editing(editing => editing
        .Mode(GridEditMode.Row)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
    .ShowRowLines(true)
    .ShowBorders(true)
    .ColumnAutoWidth(true)
    .WordWrapEnabled(true)
    .Columns(columns => {
        columns.AddFor(m => m.Descripcion);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
)

@using (Html.DevExtreme().NamedTemplate("popup-template"))
{
    using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <p><center>Log in with your credentials</center></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p style="padding-top:2em">Username:</p>
                    </div>
                    <div class="col-9">
                        <p>@(Html.DevExtreme().TextBoxFor(Model => Model.UserName).Mode(TextBoxMode.Text).ShowClearButton(true))</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p style="padding-top:2em">Password:</p>
                    </div>
                    <div class="col-9">
                        <p>@(Html.DevExtreme().TextBoxFor(Model => Model.Password).Mode(TextBoxMode.Password).ShowClearButton(true))</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        @(Html.DevExtreme().Button().Type(ButtonType.Success).Text("Log in").UseSubmitBehavior(true))
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    }
}
