<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    
</head>



<body style="padding-top: 5rem;">

    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            Ensolvers Challenge
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                @if (Session["userData"] == null)
                {
                    <li class="nav-item">
                        @(Html.DevExtreme().Button().Text("Log In").StylingMode(ButtonStylingMode.Outlined).ID("loginButton").OnClick(@<text>
                        function mostrarPopUp() 
                        {
                            const popup = $("#employee-popup").dxPopup("instance");
                            popup.show();
                        }
                    </text>))



                    </li>
                }
                else
                {
                    <li class="nav-item nav-link">Welcome @Session["userData"].ToString()</li>
                    <li class="nav-item"><a href="@Url.Action("Logout", "Login")" class="nav-link">LogOut</a></li>
                }
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>
</body>

</html>